/* style/style.css */

:root {
    /* Light Mode */
    --light-mode-background: #f0f2f6;
    --light-mode-text: #31333F;
    --light-mode-button: #4CAF50;

    /* Dark Mode */
    --dark-mode-background: #262730;
    --dark-mode-text: #f0f2f6;
    --dark-mode-button: #6243FF;

    /* Blue Mode */
    --blue-mode-background: #E1F5FE;
    --blue-mode-text: #1A237E;
    --blue-mode-button: #0277BD;
}

body {
    font-family: sans-serif;
}

.stApp {
    background-color: var(--light-mode-background) !important; /* Default to light mode */
    color: var(--light-mode-text) !important;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--light-mode-text) !important;
}

/* Override Streamlit's default button style */
.stButton>button {
    background-color: var(--light-mode-button) !important;
    color: white !important;
    border: none !important;
    padding: 10px 20px !important;
    text-align: center !important;
    text-decoration: none !important;
    display: inline-block !important;
    font-size: 16px !important;
    margin: 4px 2px !important;
    cursor: pointer !important;
    border-radius: 5px !important;
}

/* Override Streamlit elements */
div.stTextInput>label {
    color: var(--light-mode-text) !important;
    opacity: 1 !important; /* Ensure the label is visible */
    transform: translateY(0) !important; /* Reset any transformations */
    position: static !important; /* Override absolute positioning */
    visibility: visible !important; /* Ensure it's visible */
}

.stSlider>label {
    color: var(--light-mode-text) !important;
}

/*Expander headers */
.streamlit-expanderHeader {
    color: var(--light-mode-text) !important;
}
